#ALLATRA_socials {
  display: table;
  text-align: center;
  margin: 40px auto;
  padding: 0 5px;
  border-radius: 5px; }
  #ALLATRA_socials > a {
    min-width: 14px;
    display: inline-block;
    background: #498bfa;
    color: #fff;
    border: 1px solid #498bfa;
    padding: 4px 6px;
    margin: 4px;
    font-size: 16px;
    transition: opacity 0.36s ease; }
    #ALLATRA_socials > a.btn-vk {
      background: #4D75A3;
      border-color: #4D75A3; }
    #ALLATRA_socials > a.btn-facebook {
      background: #4c70ba;
      border-color: #4c70ba; }
    #ALLATRA_socials > a.btn-twitter {
      background: #83c3f3;
      border-color: #83c3f3; }
    #ALLATRA_socials > a.btn-ok {
      background: #E67E17;
      border-color: #E67E17; }
    #ALLATRA_socials > a.btn-linkedin {
      background: #0099e8;
      border-color: #0099e8; }
    #ALLATRA_socials > a.btn-telegram {
      background: #64c0e8;
      border-color: #64c0e8; }
    #ALLATRA_socials > a.btn-pinterest {
      background: #f6354a;
      border-color: #f6354a; }
    #ALLATRA_socials > a.btn-tumblr {
      background: #40678f;
      border-color: #40678f; }
    #ALLATRA_socials > a.btn-whatsapp {
      background: #25d366;
      border-color: #25d366; }
    #ALLATRA_socials > a.btn-pocket {
      background: #e84352;
      border-color: #e84352; }
    #ALLATRA_socials > a.btn-reddit {
      background: #ff592d;
      border-color: #ff592d; }
    #ALLATRA_socials > a.btn-evernote {
      background: #00a82d;
      border-color: #00a82d; }
    #ALLATRA_socials > a.btn-skype {
      background: #00a9e8;
      border-color: #00a9e8; }
    #ALLATRA_socials > a.btn-hn {
      background: #fb6518;
      border-color: #fb6518; }
    #ALLATRA_socials > a.btn-xing {
      background: #0b6566;
      border-color: #0b6566; }
  #ALLATRA_socials > a:hover {
    opacity: 0.72;
    cursor: pointer;
    color: #fff !important; }

/*# sourceMappingURL=allatra.css.map */
