@charset "UTF-8";
///* ALLATRA Movement Maps API = AMMA *///

#safeRoadMap{
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';

  h1, h2, h3, h4, h5, h6, p, a, span, table, tr, th, td{
    color: #000;
    font-family: 'Roboto';
  }

  img{
    border-radius: 2px;
  }

}

.ammaHidden{
  display: none;
}

.ammaHiddenOverflowY{
  overflow-y: hidden;
}

#ammaPremaBar{
  margin-top: 48px;

  h3{
    margin: 0 0 15px 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-transform: uppercase;
  }

  p{
    font-size: 15px;
    line-height: 22px;
  }

  .goSafeRoadAppLabel{
    background: #F8F8F8;
    padding: 14px 28px 14px 28px;

    p{
      margin-top: 0;
    }

  }

  .download-app{
    display: inline-block;
    width: 100%;

    .app-store, .google-play{
      display: inline-block;
      color: #F22424;
      font-family: Roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.025em;
      margin-right: 45px;
      text-decoration: none;
    }

  }

  img{
    max-width: 100%;
  }

}

.ammaMessage{
  font-size: 13px;
  position: relative;
  padding: .75rem 1.25rem;
  margin: 0 0 1rem 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all 1s ease;

  &.ammaError{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &.ammaSuccess{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

}

#ammaPremaMap{
  position: relative;
  width: 100%;
  height: 340px;
  padding: 0;
  margin: 0 0 40px 0;
  overflow: hidden;

  .leaflet-control-geosearch a.glass {
    background-image: url(//maps.ramir.space/assets/leaflet/plugins/geosearch/img/geosearch.png);
    background-size: 100% 100%;
  }

}

.ammaTopBLocks{
  font-family: Verdana;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;

  div{
    flex-grow: 1;
    width: 33%;
    height: 100px;
    text-align: center;
    font-size: 20px;

    b{
      color: #ff0000;
      font-size: 40px;
      font-weight: 900;
    }

  }

}

#rssBlock1,
#rssBlock2{
  float: left;
  float: left;
  width: 100%;
  position: relative;
  margin: 20px 0 40px 0;

  #rssBlock1Prev,
  #rssBlock2Prev,
  #rssBlock1Next,
  #rssBlock2Next{
    position: absolute;
    top: calc(50% - 18px);
    display: block;
    width: 36px;
    height: 36px;
    background: url(//maps.ramir.space/assets/templates/allatra-da/img/left-chevron.png) 0 0 / 36px 36px no-repeat transparent;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.5s ease;

    &:hover{
      opacity: 0.6;
    }

  }

  #rssBlock1Prev,
  #rssBlock2Prev{
    left: -32px;
  }

  #rssBlock1Next,
  #rssBlock2Next{
    left: unset;
    right: -32px;
    transform: rotateZ(180deg);
  }

}

.ammaRSSBlock{
    float: left;
    width: 100%;
    display: block;
    box-sizing: border-box;

    .ammaRSSItem{
      float: left;
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 0 10px;
      margin-bottom: 10px;

      img{
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        max-width: 100%;
      }

      a{
        font-family: 'Roboto';
        color: #000;
        font-size: 15px;
        line-height: 18px;
        text-decoration: none;
      }

    }

  }

/* Map Zoom */

.map-scroll:before {
  content: 'Ctrl + Scroll для зумирования карты';
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 9999;
  font-size: 34px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.map-scroll:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  background: #00000061;
  z-index: 999;
}

.dataTable-wrapper{
  color: #40545B;
  float: left;
  width: 100%;
  display: block;
  background: #f7f7f7;
  font-size: 13px;
  font-family: 'Roboto', Sans-Serif;
  margin-bottom: 40px;

  .dataTable-selector,
  .dataTable-input{
    border: 1px solid #d9d9d9;
  }

  .dataTable-top{
    border-bottom: 2px solid #d9d9d9;
  }

  .dataTable-container{
    border-bottom: none !important;
  }

  .dataTable-bottom{
    border-top: 2px solid #d9d9d9;
  }

  table{
    font-size: 13px;
    font-family: 'Roboto', Sans-Serif;

    thead{

      tr{
        background: #E9E9E9;

        th{
          font-family: 'Roboto', Sans-Serif;
          border-bottom: none;
        }

      }

    }

    tbody{

      tr{

        &:nth-child(2n){
          background: #F8F8F8;
        }

        &:nth-child(2n+1){
          background: #fff;
        }

        td{
          font-family: 'Roboto', Sans-Serif;
        }

      }

    }



  }

}

.ammaPage{

  h2{
    position: relative;
    background: #eaf4fa;
    padding: 15px;
    min-height: 36px;
    line-height: 1.15;
    font-size: 22.5px;
    margin: 20px 0;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 5%;
      background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #fff 0%, #fff 100%);
      -webkit-box-sizing: unset;
      -moz-box-sizing: unset;
      box-sizing: unset;
    }

    &:before{
      content: '';
      position: absolute;
      top: -15%;
      right: 5%;
      width: 6px;
      height: 120%;
      border-left: 5px solid #fff;
      border-right: 4px solid #fff;
      border-top: 5px solid #fff;
      border-bottom: 5px solid #fff;
      background: transparent;
      transform: rotate(25deg);
      -webkit-box-sizing: unset;
      -moz-box-sizing: unset;
      box-sizing: unset;
    }

  }

  p{
    font-family: 'Roboto';
    color: #000;
    font-size: 15px;
    line-height: 18px;
    margin: 15px 0 10px 0;
  }

  a{
    color: #ff0000;
  }

  .ammaPageHidden{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;

    .ammaPageFull{
      display: block;
      margin: -15px 0 40px 0;
    }

  }

  .ammaReadmore{
    margin: 0 auto 40px auto;
    background: url('https://maps.ramir.space/assets/templates/allatra-da/img/readmore_ru.svg') no-repeat;
    position: relative;
    display: block;
    width: 144px;
    height: 48px;
  }

}

.ammaClear{
  clear: both;
}

#ammaContent{
  font-family: 'Roboto';
  color: #000;
  font-size: 15px;
  line-height: 18px;
}

.ammaContainer{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  .ammaRow{
    margin-right: -15px;
    margin-left: -15px;
  }

  .ammaCol-1, .ammaCol-1-3, .ammaCol-2-3, .ammaCol-1-2, .ammaCol-1-4, .ammaCol-3-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  .ammaCol-1{
    width: 100%;
  }

  .ammaCol-1-3{
    width: 33.33333%;
  }

  .ammaCol-2-3{
    width: 66.66666%;
  }

  .ammaCol-1-2{
    width: 50%;
  }

  .ammaCol-1-4{
    width: 25%;
  }

  .ammaCol-3-4{
    width: 75%;
  }

}

#ammaPremaBar{

  .ammaBarItem{
    font-family: 'Roboto';
    color: #000;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;

    span{
      display: block;
      margin-top: 5px;
    }

  }

}


.ammaBar{

  h3{
    font-size: 18px;
    margin: 18px 0;
    line-height: 1;
  }

  img{
    max-width: 100%;
  }

  .ammaBarRow{
    margin: 0 -15px;

    .ammaBarItem{
      color: #000;
      text-decoration: none;
      margin-bottom: 15px;
      box-sizing: border-box;

      span{
        display: block;
        margin-top: 5px;
      }

      &:nth-child(1),
      &:nth-child(2){
        font-size: 13px;
        width: 50%;
        display: inline-block;
        padding: 0 15px;
      }

      &:nth-child(3){
        font-size: 16px;
        width: 100%;
        display: inline-block;
        padding: 0 15px;
      }

    }

  }

}

#ammaContentContainer{
  padding-top: 40px;
}

#safeRoadHeader{
  float: left;
  width: 100%;
  display: block;
  padding: 0 15px;
  margin-bottom: 15px;
  box-sizing: border-box;

  #safeRoadLogo{
    float: left;
    width: 20%;

    img{
      width: auto;
      max-width: 100%;
    }

  }

  #safeRoadTitle{
    float: left;
    width: 60%;

    h1{
      font-weight: normal;
      font-size: 17px;
      font-family: 'Roboto';
      margin: 30px 0;
      padding: 0 20px;
      line-height: 1.2;
    }

  }

  #safeRoadAction{
    float: left;
    width: 20%;

    a{
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 10px 30px 10px 0;
      margin: 30px 0;
      font-size: 20px;
      font-family: 'Roboto';
      background: #e8201c;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      box-sizing: border-box;

      &:before{
        content: ' ';
        position: absolute;
        left: -36px;
        bottom: -36px;
        width: 280px;
        height: 110px;
        background: url(https://maps.ramir.space/assets/templates/allatra-da/css/images/allatra-marker-aim.svg) no-repeat;
        transform: rotateY(-180deg);
      }

      span{
        color: #fff;
      }

    }

  }

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 991px) and (max-width: 1199px) {

  .ammaContainer{
    max-width: 960px;
  }

  #safeRoadHeader{

    #safeRoadTitle h1{
      font-size: 15px;
      margin: 20px 0;
    }

    #safeRoadAction a{
      padding: 10px 25px 10px 0;
      margin: 25px 0;
      font-size: 17px;

      &::before{
        left: -65px;
      }

    }

  }

}

@media screen and (min-width: 768px) and (max-width: 990px) {

  .ammaContainer{
    max-width: 720px;
  }

  #safeRoadHeader{

    #safeRoadLogo {
      width: 100%;
      text-align: center;

      img{
        max-width: 320px;
      }

    }

    #safeRoadTitle{
      width: 60%;

      h1{
        font-size: 15px;
        margin: 20px 0;
      }

    }

    #safeRoadAction {
      width: 40%;

      a{
        padding: 10px 25px 10px 0;
        margin: 25px 0;
        font-size: 17px;

        &::before{
          width: 100%;
          left: 0;
        }

      }

    }

  }

}

@media screen and (max-width: 767px) {

  .ammaContainer{
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;

    .ammaCol-1, .ammaCol-1-3, .ammaCol-2-3, .ammaCol-1-2, .ammaCol-1-4, .ammaCol-3-4 {
      width: 100%;
    }

  }

  #safeRoadHeader{

    #safeRoadLogo {
      width: 100%;
      text-align: center;

      img{
        max-width: 320px;
      }

    }

    #safeRoadTitle{
      width: 100%;

      h1{
        font-size: 15px;
        margin: 20px 0;
      }

    }

    #safeRoadAction {
      width: 100%;

      a{
        padding: 10px 25px 10px 0;
        margin: 25px 0;
        font-size: 17px;

        &::before{
          width: 100%;
          left: 0;
        }

      }

    }

  }

  #rssBlock1 #rssBlock1Prev,
  #rssBlock1 #rssBlock2Prev,
  #rssBlock2 #rssBlock1Prev,
  #rssBlock2 #rssBlock2Prev {
    left: -24px;
  }

  #rssBlock1 #rssBlock1Next,
  #rssBlock1 #rssBlock2Next,
  #rssBlock2 #rssBlock1Next,
  #rssBlock2 #rssBlock2Next{
    right: -24px;
  }

  .dataTable-wrapper{
    max-width: 100%;
    max-width: calc(100vw - 30px);

    .dataTable-container{
      overflow: scroll;
    }

  }

}
 
#ammaModalWrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow-y: auto;

  #ammaModalContainer{
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    -webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);
    transform: translate(-50%,0%);

    #ammaModal{
      position: relative;
      background: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      #ammaModalClose{
        display: inline-block;
        position: absolute;
        width: 21px;
        height: 21px;
        top: 13px;
        right: 15px;
        border: 1px solid #a7a7a7;
        text-decoration: none;
        text-align: center;
        border-radius: 50%;
        line-height: 19px;
        color: #a7a7a7;
        text-transform: lowercase;
      }

      #ammaModalChoose{
        padding: 15px;

        a{
          font-size: 14px;
          color: #000;
          border-bottom: 1px dashed #000;
          text-decoration: none;
          margin-right: 15px;

          &.selected{
            border-bottom: none;
          }

        }

      }

      form{
        width: 100%;
        padding: 15px;
        display: block;
        box-sizing: border-box;
        clear: both;

        .ammaModalTitle{
          font-size: 15px;
          font-weight: 500;
          text-transform: uppercase;
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 10px;
          margin-bottom: 20px;
          letter-spacing: 2px;
        }

        .ammaFormGroup{
          float: left;
          width: 100%;
          display: block;
          margin-bottom: 15px;
        }

        label{
          float: left;
          width: 100%;
          font-size: 13px;
          margin-bottom: 5px;
        }

        input[type=text], input[type=email], input[type=password], input[type=number], input[type=file]{
          width: 100%;
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          padding: 0 5px;
          border: 1px solid #e0e0e0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }

        textarea{
          width: 100%;
          font-size: 14px;
          padding: 5px;
          border: 1px solid #e0e0e0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }

        input[type=checkbox]{
          width: auto;
          display: inline-block;
        }

        textarea:focus, input:focus{
          outline: none;
          border-color: #999;
        }

        button{
          font-size: 13px;
          border: 1px solid #e3e3e3;
          border-top-color: rgb(227, 227, 227);
          border-right-color: rgb(227, 227, 227);
          border-bottom-color: rgb(227, 227, 227);
          border-left-color: rgb(227, 227, 227);
          background: linear-gradient(to bottom, #f7f7f7, #edebeb);
          margin-top: 5px;
          padding: 0 11px;
          height: 31px;
          line-height: 1;
          border-radius: 3px;
          box-shadow: 0 1px 0 0 #fcfcfc inset,0 -1px 0 0 #f0eeee inset;
          cursor: pointer;
          position: relative;
          transition: all 0.5s ease;

          &:hover{
            border-color: #999;
          }

        }

        .ammaAsterisk{
          color: #ff0000;
        }

      }

      #ammaModalRequired{
        padding: 0 15px 15px 15px;
        font-size: 12px;

        span{
          color: #ff0000;
        }

      }

    }

  }


}


