@charset "UTF-8";
///* ALLATRA Movement Maps API = AMMA.Earthquakes *///

#AmmaEqksWrapper{
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 0;

  a:hover{
    color: #F22424 !important;
  }

  .AmmaEqksClear{
    clear: both;
  }

  .AmmaEqksHidden{
    display: none !important;
  }

  .AmmaEqksHiddenOverflowY{
    overflow-y: hidden;
  }

  #AmmaEqksMapWrapper{
    background: #F8F8F8;
    padding: 15px;

    #AmmaEqksMap{
      width: 100%;
      height: 100vh;
      padding: 0;
      margin: 0;
    }

    #AmmaEqksMapHeader{
      position: relative;

      #AmmaEqksLogo{
        float: left;
        text-decoration: none;

        #AmmaEqksLogoImg{
          float: left;
          margin-right: 15px;

          img{
            max-width: 72px;
            display: inline-block;
            border-radius: 50%;
          }

        }

        #AmmaEqksSlogan{
          float: left;
          position: relative;

          h1{
            display: inline-block;
            font-size: 22px;
            color: #434343;
            margin: 15px 0 5px 0;
            font-weight: 500;
            letter-spacing: 1px;
            position: relative;

            strong{
              font-weight: 600;
            }

            span#AmmaEqksSloganLive{
              position: absolute;
              right: -25px;
              top: 10px;
              color: #fff;
              background: #F22424;
              border-radius: 50%;
              width: 9px;
              height: 9px;

              &::after,
              &::before{
                box-sizing: unset;
              }

              &::after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #F22424;
                position: absolute;
                top: -8px;
                left: -7px;
                transform: scale(0);
                animation: pulse 2s ease .5s infinite;
              }

              &::before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #F22424;
                position: absolute;
                top: -8px;
                left: -7px;
                transform: scale(0);
                animation: pulse 2s ease 0s infinite;
              }

              @keyframes pulse {
                0% {
                  opacity: 1;
                  transform: scale(0);
                }
                80% {
                  opacity: 0;
                  transform: scale(1.5);
                }
                100% {
                  opacity: 0;
                  transform: scale(3);
                }
              }

            }

          }

          h2{
            font-size: 12px;
            color: #434343;
            margin: 0;
            font-weight: 500;
            position: relative;
            line-height: 116.5%;
          }

        }

      }

      #AmmaEqksShare{
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;

        a{
          font-size: 14px;
          line-height: 16px;
          color: #40545B;
          text-decoration: none;
          display: block;
          margin: 10px;
          letter-spacing: 0.025em;

          span{
            display: inline-block;
            margin-left: 5px;
            border-bottom: 1px solid #40545B;
          }

          &:hover span{
            border-bottom-color: #F22424;
          }

        }

      }

      .AmmaEqksFilter{
        margin: 15px 0;
        font-size: 13px;

        span.AmmaEqksFilterLegend{
          color: #999999;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          margin-right: 22px;
        }

        a{
          color: #40545B;
          margin: 0 8px;
          text-decoration: none;
          border-bottom: 1px dotted #fff;

          &.selected{
            color: #F22424;
          }

        }

      }


      form#AmmaEqksDate,
      form#AmmaEqksPeriod{
        margin-top: 10px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;

        input{
          font-size: 14px;
          line-height: 16px;
          display: inline-block;
          height: calc(1.625em + .75rem + 2px);
          padding: .6rem .75rem;
          font-weight: 400;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #C6C6C6;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          margin-right: 10px;
        }

        button{
          color: #fff;
          display: inline-block;
          font-weight: 400;
          font-size: 15px;
          letter-spacing: 0.025em;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-color: #F22424;
          border: 1px solid #F22424;
          padding: 10px 30px;
          line-height: 18px;
          transition: color .15s ease-in-out, background-color .15s ease-in-out,
                      border-color .15s ease-in-out,
                      box-shadow .15s ease-in-out;

          &:hover{
            color: #212529;
            background-color: #cccccc;
            border-color: #cccccc;
          }

        }

      }

    }

    /* Map Zoom */
    .map-scroll:before {
      content: 'Ctrl + Scroll чтобы увеличить карту';
      position: absolute;
      top: 40%;
      left: 0;
      z-index: 9999;
      font-size: 34px;
      color: #fff;
      width: 100%;
      text-align: center;
    }

    .map-scroll:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      content: '';
      background: #00000061;
      z-index: 999;
    }

  }

  #AmmaEqksTopBlocks{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;

    div{
      flex-grow: 1;
      width: 33%;
      height: 100px;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #434343;

      b{
        display: inline-block;
        margin-top: 10px;
        color: #ff0000;
        font-size: 40px;
        font-weight: 900;
        line-height: 1;
      }

    }

  }

  #AmmaEqksTable{

    .dataTable-wrapper{
      color: #40545B;
      float: left;
      width: 100%;
      display: block;
      background: #f7f7f7;
      font-size: 13px;
      font-family: 'Roboto', Sans-Serif;
      margin-bottom: 40px;

      .dataTable-selector,
      .dataTable-input{
        border: 1px solid #d9d9d9;
      }

      .dataTable-top{
        border-bottom: 2px solid #d9d9d9;
      }

      .dataTable-container{
        border-bottom: none !important;
      }

      .dataTable-bottom{
        border-top: 2px solid #d9d9d9;
      }

      table{
        font-size: 13px;
        font-family: 'Roboto', Sans-Serif;

        thead{

          tr{
            background: #E9E9E9;

            th{
              border-bottom: none;
            }

          }

        }

        tbody{

          tr{

            &:nth-child(2n){
              background: #F8F8F8;
            }

            &:nth-child(2n+1){
              background: #fff;
            }

          }

        }



      }

    }

  }

  .AmmaEqksPage{

    p{
      color: #40545B;
      font-size: 15px;
      line-height: 18px;
      margin: 15px 0 10px 0;
    }

    a{
      color: #ff0000;
    }

  }

  #rssBlock1,
  #rssBlock2{
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0;
    padding: 0 40px;
    box-sizing: border-box;

    .AmmaEqksRSSTitle{
      margin: 20px -40px;
    }

    #rssBlock1Prev,
    #rssBlock2Prev,
    #rssBlock1Next,
    #rssBlock2Next{
      position: absolute;
      top: calc(50% - 18px);
      display: block;
      width: 36px;
      height: 36px;
      background: url(//maps.ramir.space/assets/templates/allatra-da/img/left-chevron.png) 0 0 / 36px 36px no-repeat transparent;
      border: none;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.5s ease;

      &:hover{
        opacity: 0.6;
      }

    }

    #rssBlock1Prev,
    #rssBlock2Prev{
      left: 0;
    }

    #rssBlock1Next,
    #rssBlock2Next{
      left: unset;
      right: 0;
      transform: rotateZ(180deg);
    }

  }

  .AmmaEqksRSSBlock{
    float: left;
    width: 100%;
    display: block;
    box-sizing: border-box;

    .AmmaEqksRSSItem{
      float: left;
      box-sizing: border-box;
      width: 100%;
      display: block;
      padding: 0 10px;
      margin-bottom: 10px;

      img{
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        max-width: 100%;
      }

      a{
        color: #000;
        font-size: 15px;
        line-height: 18px;
        text-decoration: none;
      }

    }

  }

  #ammaEqBars{
    float: left;
    width: 100%;
    margin-bottom: 40px;

    h2{
      margin-bottom: 24px;
    }

    &>.ammaEqBar{
      float: left;
      position: relative;
      width: 49%;
      min-height: 190px;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;

      &#ammaEqBar1{
        margin-right: 1%;

        #ammaEqBar1Control{
          position: absolute;
          right: 22px;
          bottom: 20px;
          z-index: 9;

          button{
            font-size: 14px;
            border-radius: 50%;
            border: none;
            padding: 4px 12px;
            margin: 0 1px;
            cursor: pointer;
          }

          #ammaEqBar1Prev{

          }

          #ammaEqBar2Prev{

          }

        }

      }

      &#ammaEqBar2{
        margin-left: 1%;
      }

      .ammaEqBarItem{
        float: left;
        width: 100%;
        color: #000;
        text-decoration: none;

        h5{
          margin: 0 0 10px 0;
          font-size: 16px;
          font-weight: 600;
        }

        p{
          margin: 5px 0;
        }

        img{
          float: left;
          max-width: 202px;
          max-height: 144px;
          margin-right: 12px;
        }

      }

    }

  }


  &.lang-it #AmmaEqksMapWrapper{

    .map-scroll:before {
      content: 'Ctrl + Scroll per ingrandire la mappa' !important;
    }

  }

  &.lang-sk #AmmaEqksMapWrapper{

    .map-scroll:before {
      content: 'Ctrl + Scroll per ingrandire la mappa' !important;
    }

  }

}


#AmmaEqksCommentShareWrapper{
  float: left;
  display: table;
  width: 100%;
  border-top: 1px solid #E9E9E9;
  margin: 30px 0 50px 0;
  padding-top: 30px;

  #AmmaEqksShareBtns{
    margin: 5px auto;
    display: block;
    float: right;
    width: auto;
    box-sizing: border-box;
  }

  #AmmaEqksLeaveComment{
    width: 50%;
    box-sizing: border-box;

    #AmmaEqksLeaveCommentLegend{
      margin: 3px 25px 3px 0;
      display: block;
      float: left;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #434343;
    }

    #AmmaEqksLeaveCommentBtn{
      display: block;
      float: left;
      white-space: nowrap;
      padding: 11px 25px;
      color: #F22424;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.025em;
      border: 1px solid #F22424;
      box-sizing: border-box;
      text-decoration: none;
      text-align: center;
      transition: all .5s ease;

      &:hover{
        background: #F22424;
        color: #fff !important;
      }

    }


  }

}

#AmmaEqksModalWrapper{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow-y: auto;

  #AmmaEqksModalContainer{
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    -webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);
    transform: translate(-50%,0%);

    #AmmaEqksModal{
      position: relative;
      background: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      #AmmaEqksModalClose{
        display: inline-block;
        position: absolute;
        width: 21px;
        height: 21px;
        top: 13px;
        right: 15px;
        border: 1px solid #a7a7a7;
        text-decoration: none;
        text-align: center;
        border-radius: 50%;
        line-height: 19px;
        color: #a7a7a7;
        text-transform: lowercase;
      }

      #AmmaEqksModalContent{
        padding: 25px 25px 15px 25px;

        p{
          font-size: 14px;
        }

      }

    }

  }


}

//Calendar

.lightpick__day .is-available:hover{
  background-color: #F22424;
}

.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped{
  background-color: #F22424 !important;
}

.lightpick__day.is-in-range{
  background-color: #FFF3F3;
}

.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(242,36,36,1)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-today {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(242,36,36,1)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
  color: #F22424;
}

.lightpick__day.is-in-range:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(242,36,36,.5)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-start-date.is-today{
  color: #ffffff;
}

/* Responsive */

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 991px) and (max-width: 1199px) {

  #AmmaEqksWrapper #AmmaEqksMapWrapper #AmmaEqksMapHeader #AmmaEqksShare a{
    display: block;
    margin: 10px;
  }

}

@media screen and (min-width: 768px) and (max-width: 990px) {

  #AmmaEqksWrapper #AmmaEqksMapWrapper #AmmaEqksMapHeader #AmmaEqksShare a{
    display: block;
    margin: 10px;
  }

  #AmmaEqksCommentShareWrapper{

    #AmmaEqksLeaveComment, #AmmaEqksShareBtns{
      display: table;
      margin: 40px auto;
      float: none;
    }

  }

}

@media screen and (max-width: 767px) {

  #AmmaEqksWrapper{

    #AmmaEqksMapWrapper #AmmaEqksMapHeader{

      #AmmaEqksLogo{
        float: none;
        display: table;
        margin: 0 auto;

        #AmmaEqksSlogan span#AmmaEqksSloganLive {
          position: absolute;
          right: -12px;
          top: -15px;
        }

      }

      #AmmaEqksShare{
        float: left;
        display: none;
        width: 100%;

        a{
          margin: 15px 0px;
          display: table;
        }

      }

      .AmmaEqksFilter {
        margin: 10px 0;

        a {
          margin: 5px;
          display: inline-block;
        }

        span.AmmaEqksFilterLegend{
          margin-right: 5px;
        }

      }

    }

    #AmmaEqksTopBlocks div{
      width: 100%;
      margin: 15px 0;
    }

  }

  #AmmaEqksTable{

    .dataTable-wrapper{
      max-width: 100%;

      .dataTable-container{
        overflow: scroll;
      }

      .dataTable-top > div:last-child,
      .dataTable-bottom > div:last-child{
        float: left;
        margin: 15px 0;
      }

    }

  }

  #AmmaEqksCommentShareWrapper{

    #AmmaEqksLeaveComment, #AmmaEqksShareBtns{
      display: table;
      margin: 40px auto;
      float: none;
    }

    #AmmaEqksLeaveComment{
      width: auto;
    }

  }

}

@media screen and (max-width: 500px) {

  #AmmaEqksWrapper {

    #ammaEqBars > .ammaEqBar{
      width: 100%;
      margin-bottom: 40px;

      .ammaEqBarItem img{
        width: 100%;
        max-width: unset;
        max-height: unset;
        margin-bottom: 10px;
      }

      &#ammaEqBar2{
        margin-left: 0 !important;
      }

    }

    #AmmaEqksMapWrapper #AmmaEqksMapHeader {

      #AmmaEqksLogo {
        text-align: center;
        margin-bottom: 30px;

        #AmmaEqksLogoImg{
          margin: 0;
          float: none;
        }

        #AmmaEqksSlogan span#AmmaEqksSloganLive {
          right: 0;
          top: -18px;
        }

      }

      form#AmmaEqksPeriod input{
        width: 100%;
        margin-bottom: 15px;
      }

    }

  }

  #AmmaEqksCommentShareWrapper{

    #AmmaEqksLeaveComment, #AmmaEqksShareBtns{
      display: table;
      margin: 40px auto;
      float: none;
    }

    #AmmaEqksLeaveComment{
      width: auto;

      #AmmaEqksLeaveCommentLegend{
        float: none;
        text-align: center;
        margin-right: 0;
      }

    }

  }

}

#AmmaEqksShareBtns{
  display: table;
  text-align: center;
  margin: 40px auto;
  padding: 0 5px;
  border-radius: 5px;

  & > a {
    min-width: 14px;
    display: inline-block;
    background: #498bfa;
    color: #fff;
    border: 1px solid #498bfa;
    padding: 4px 6px;
    margin: 4px;
    font-size: 16px;
    transition: opacity 0.36s ease;

    &.btn-vk{
      background: #4D75A3;
      border-color: #4D75A3;
    }

    &.btn-facebook{
      background: #4c70ba;
      border-color: #4c70ba;
    }

    &.btn-twitter{
      background: #83c3f3;
      border-color: #83c3f3;
    }

    &.btn-ok{
      background: #E67E17;
      border-color: #E67E17;
    }

    &.btn-linkedin{
      background: #0099e8;
      border-color: #0099e8;
    }

    &.btn-telegram{
      background: #64c0e8;
      border-color: #64c0e8;
    }

    &.btn-pinterest{
      background: #f6354a;
      border-color: #f6354a;
    }

    &.btn-tumblr{
      background: #40678f;
      border-color: #40678f;
    }

    &.btn-whatsapp{
      background: #25d366;
      border-color: #25d366;
    }

    &.btn-pocket{
      background: #e84352;
      border-color: #e84352;
    }

    &.btn-reddit{
      background: #ff592d;
      border-color: #ff592d;
    }

    &.btn-evernote{
      background: #00a82d;
      border-color: #00a82d;
    }

    &.btn-skype{
      background: #00a9e8;
      border-color: #00a9e8;
    }

    &.btn-hn{
      background: #fb6518;
      border-color: #fb6518;
    }

    &.btn-xing{
      background: #0b6566;
      border-color: #0b6566;
    }

  }

  & > a:hover {
    opacity: 0.72;
    cursor: pointer;
    color: #fff !important;
  }

}