.alert:empty{
    display: none;
}

.site-branding{
    padding: 10px 0 10px 0;
}

.site-logo{
    margin-right: 0;
}

.site-logo>img {
    width: 100%;
    max-width: 72px;
    max-height: 60px;
}

.site-name{
    color: #000;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 10;
}

.allatra-name{
    display: block;
    font-size: 40px;
    font-weight: 500;
    line-height: 28px;
}

.allatra-slogan{
    display: block;
    font-size: 16px;
    line-height: 14px;
    text-transform: lowercase;
    margin: 0;
    font-weight: 300;
}

.allatra-slogan small{
    letter-spacing: 1px;
}

#roadAllatRaMap{
    position:relative;
    width:100%;
    height:100%;
    min-height: 100vh;
}

.site-menu>ul>li>a{
    font-size: 16px;
    letter-spacing: 2px;
}

/*Leaflet Bar */

@media screen and (min-width: 1088px){

    #roadAllatRaMap .leaflet-top.leaflet-left {
        left: calc(12px + 1rem);
    }

}

#roadAllatRaMap .leaflet-top.leaflet-left {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #333;
    z-index: 500;
    padding: 10px;
    position: relative;
    font-size: .9rem;
}

#roadAllatRaMap .leaflet-top.leaflet-left {
    position: absolute;
    width: 50px;
    padding: 20px 0 5px;
    left: 10px;
    top: 50px;
}

#roadAllatRaMap .leaflet-top.leaflet-left .leaflet-control {
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

header.homepage{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header .toolbar{
    width: 180px;
}

header.homepage .toolbar{
    width: 360px;
}

@media screen and (min-width:1088px){

    header.homepage,
    header.homepage .site-name,
    header.homepage .site-menu{
        transition:all .3s ease
    }

    header.homepage:not(:hover){
        background-color:transparent
    }

    header.homepage:not(:hover) .site-name,
    header.homepage:not(:hover) .site-menu{
        opacity:0;-webkit-transform:translateY(-20px);
        transform:translateY(-20px)
    }
}

@media screen and (max-width:1087px){

    #roadAllatRaMap .leaflet-top.leaflet-left {
        padding: 5px 0 5px;
    }

    #roadAllatRaMap .leaflet-top.leaflet-left {
        top: 72px;
    }

}

@media (max-width: 767px){

    header.homepage .toolbar{
        width: 120px;
    }

    .toolbar .toolbar-toggle{
        border-right: none;
    }

}

@media (max-width: 1340px){

    .toolbar .toolbar-toggle.account-toggle {
        display: none;
    }

}

.easyPrintHolder{
    position: absolute;
    width: 120px;
}

/*EOF. Leaflet Bar */

/*
 *
 * MAP Styles
 *
 */

/* Map Zoom */

.map-scroll:before {
    content: 'Используйте Ctrl + Scroll, чтобы увеличить карту';
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 9999;
    font-size: 34px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.map-scroll:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: #00000061;
    z-index: 999;
}


.site-footer .footer-cards{
    max-width: 275px;
}

.h-101{
    height: 101px !important;
}

#roadWrapper{
    position: relative;
}