@charset "UTF-8";
#safeRoadMap {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto'; }
  #safeRoadMap h1, #safeRoadMap h2, #safeRoadMap h3, #safeRoadMap h4, #safeRoadMap h5, #safeRoadMap h6, #safeRoadMap p, #safeRoadMap a, #safeRoadMap span, #safeRoadMap table, #safeRoadMap tr, #safeRoadMap th, #safeRoadMap td {
    color: #000;
    font-family: 'Roboto'; }
  #safeRoadMap img {
    border-radius: 2px; }

.ammaHidden {
  display: none; }

.ammaHiddenOverflowY {
  overflow-y: hidden; }

#ammaPremaBar {
  margin-top: 48px; }
  #ammaPremaBar h3 {
    margin: 0 0 15px 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-transform: uppercase; }
  #ammaPremaBar p {
    font-size: 15px;
    line-height: 22px; }
  #ammaPremaBar .goSafeRoadAppLabel {
    background: #F8F8F8;
    padding: 14px 28px 14px 28px; }
    #ammaPremaBar .goSafeRoadAppLabel p {
      margin-top: 0; }
  #ammaPremaBar .download-app {
    display: inline-block;
    width: 100%; }
    #ammaPremaBar .download-app .app-store, #ammaPremaBar .download-app .google-play {
      display: inline-block;
      color: #F22424;
      font-family: Roboto;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.025em;
      margin-right: 45px;
      text-decoration: none; }
  #ammaPremaBar img {
    max-width: 100%; }

.ammaMessage {
  font-size: 13px;
  position: relative;
  padding: .75rem 1.25rem;
  margin: 0 0 1rem 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all 1s ease; }
  .ammaMessage.ammaError {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; }
  .ammaMessage.ammaSuccess {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb; }

#ammaPremaMap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  #ammaPremaMap .leaflet-control-geosearch a.glass {
    background-image: url(//maps.ramir.space/assets/leaflet/plugins/geosearch/img/geosearch.png);
    background-size: 100% 100%; }
  #ammaPremaMap .leaflet-popup-content {
    min-width: 144px; }
    #ammaPremaMap .leaflet-popup-content img {
      max-width: 144px; }
    #ammaPremaMap .leaflet-popup-content p {
      margin: 5px 0; }

.ammaTopBLocks {
  font-family: Verdana;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0; }
  .ammaTopBLocks div {
    flex-grow: 1;
    width: 33%;
    height: 100px;
    text-align: center;
    font-size: 20px; }
    .ammaTopBLocks div b {
      color: #ff0000;
      font-size: 40px;
      font-weight: 900; }

#rssBlock1,
#rssBlock2 {
  float: left;
  float: left;
  width: 100%;
  position: relative;
  margin: 20px 0 40px 0; }
  #rssBlock1 #rssBlock1Prev,
  #rssBlock1 #rssBlock2Prev,
  #rssBlock1 #rssBlock1Next,
  #rssBlock1 #rssBlock2Next,
  #rssBlock2 #rssBlock1Prev,
  #rssBlock2 #rssBlock2Prev,
  #rssBlock2 #rssBlock1Next,
  #rssBlock2 #rssBlock2Next {
    position: absolute;
    top: calc(50% - 18px);
    display: block;
    width: 36px;
    height: 36px;
    background: url(//maps.ramir.space/assets/templates/allatra-da/img/left-chevron.png) 0 0/36px 36px no-repeat transparent;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.5s ease; }
    #rssBlock1 #rssBlock1Prev:hover,
    #rssBlock1 #rssBlock2Prev:hover,
    #rssBlock1 #rssBlock1Next:hover,
    #rssBlock1 #rssBlock2Next:hover,
    #rssBlock2 #rssBlock1Prev:hover,
    #rssBlock2 #rssBlock2Prev:hover,
    #rssBlock2 #rssBlock1Next:hover,
    #rssBlock2 #rssBlock2Next:hover {
      opacity: 0.6; }
  #rssBlock1 #rssBlock1Prev,
  #rssBlock1 #rssBlock2Prev,
  #rssBlock2 #rssBlock1Prev,
  #rssBlock2 #rssBlock2Prev {
    left: -32px; }
  #rssBlock1 #rssBlock1Next,
  #rssBlock1 #rssBlock2Next,
  #rssBlock2 #rssBlock1Next,
  #rssBlock2 #rssBlock2Next {
    left: unset;
    right: -32px;
    transform: rotateZ(180deg); }

.ammaRSSBlock {
  float: left;
  width: 100%;
  display: block;
  box-sizing: border-box; }
  .ammaRSSBlock .ammaRSSItem {
    float: left;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0 10px;
    margin-bottom: 10px; }
    .ammaRSSBlock .ammaRSSItem img {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      max-width: 100%; }
    .ammaRSSBlock .ammaRSSItem a {
      font-family: 'Roboto';
      color: #000;
      font-size: 15px;
      line-height: 18px;
      text-decoration: none; }

/* Map Zoom */
.map-scroll:before {
  content: 'Ctrl + Scroll для зумирования карты';
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 9999;
  font-size: 34px;
  color: #fff;
  width: 100%;
  text-align: center; }

.map-scroll:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  background: #00000061;
  z-index: 999; }

.dataTable-wrapper {
  color: #40545B;
  float: left;
  width: 100%;
  display: block;
  background: #f7f7f7;
  font-size: 13px;
  font-family: 'Roboto', Sans-Serif;
  margin-bottom: 40px; }
  .dataTable-wrapper .dataTable-selector,
  .dataTable-wrapper .dataTable-input {
    border: 1px solid #d9d9d9; }
  .dataTable-wrapper .dataTable-top {
    border-bottom: 2px solid #d9d9d9; }
  .dataTable-wrapper .dataTable-container {
    border-bottom: none !important; }
  .dataTable-wrapper .dataTable-bottom {
    border-top: 2px solid #d9d9d9; }
  .dataTable-wrapper table {
    font-size: 13px;
    font-family: 'Roboto', Sans-Serif; }
    .dataTable-wrapper table thead tr {
      background: #E9E9E9; }
      .dataTable-wrapper table thead tr th {
        font-family: 'Roboto', Sans-Serif;
        border-bottom: none; }
    .dataTable-wrapper table tbody tr:nth-child(2n) {
      background: #F8F8F8; }
    .dataTable-wrapper table tbody tr:nth-child(2n+1) {
      background: #fff; }
    .dataTable-wrapper table tbody tr td {
      font-family: 'Roboto', Sans-Serif; }

.ammaPage h2 {
  position: relative;
  background: #eaf4fa;
  padding: 15px;
  min-height: 36px;
  line-height: 1.15;
  font-size: 22.5px;
  margin: 20px 0; }
  .ammaPage h2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #fff 0%, #fff 100%);
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset; }
  .ammaPage h2:before {
    content: '';
    position: absolute;
    top: -15%;
    right: 5%;
    width: 6px;
    height: 120%;
    border-left: 5px solid #fff;
    border-right: 4px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background: transparent;
    transform: rotate(25deg);
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset; }
.ammaPage p {
  font-family: 'Roboto';
  color: #000;
  font-size: 15px;
  line-height: 18px;
  margin: 15px 0 10px 0; }
.ammaPage a {
  color: #ff0000; }
.ammaPage .ammaPageHidden {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out; }
  .ammaPage .ammaPageHidden .ammaPageFull {
    display: block;
    margin: -15px 0 40px 0; }
.ammaPage .ammaReadmore {
  margin: 0 auto 40px auto;
  background: url("https://maps.ramir.space/assets/templates/allatra-da/img/readmore_ru.svg") no-repeat;
  position: relative;
  display: block;
  width: 144px;
  height: 48px; }

.ammaClear {
  clear: both; }

#ammaContent {
  font-family: 'Roboto';
  color: #000;
  font-size: 15px;
  line-height: 18px; }

.ammaContainer {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }
  .ammaContainer .ammaRow {
    margin-right: -15px;
    margin-left: -15px; }
  .ammaContainer .ammaCol-1, .ammaContainer .ammaCol-1-3, .ammaContainer .ammaCol-2-3, .ammaContainer .ammaCol-1-2, .ammaContainer .ammaCol-1-4, .ammaContainer .ammaCol-3-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box; }
  .ammaContainer .ammaCol-1 {
    width: 100%; }
  .ammaContainer .ammaCol-1-3 {
    width: 33.33333%; }
  .ammaContainer .ammaCol-2-3 {
    width: 66.66666%; }
  .ammaContainer .ammaCol-1-2 {
    width: 50%; }
  .ammaContainer .ammaCol-1-4 {
    width: 25%; }
  .ammaContainer .ammaCol-3-4 {
    width: 75%; }

#ammaPremaBar .ammaBarItem {
  font-family: 'Roboto';
  color: #000;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none; }
  #ammaPremaBar .ammaBarItem span {
    display: block;
    margin-top: 5px; }

.ammaBar h3 {
  font-size: 18px;
  margin: 18px 0;
  line-height: 1; }
.ammaBar img {
  max-width: 100%; }
.ammaBar .ammaBarRow {
  margin: 0 -15px; }
  .ammaBar .ammaBarRow .ammaBarItem {
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
    box-sizing: border-box; }
    .ammaBar .ammaBarRow .ammaBarItem span {
      display: block;
      margin-top: 5px; }
    .ammaBar .ammaBarRow .ammaBarItem:nth-child(1), .ammaBar .ammaBarRow .ammaBarItem:nth-child(2) {
      font-size: 13px;
      width: 50%;
      display: inline-block;
      padding: 0 15px; }
    .ammaBar .ammaBarRow .ammaBarItem:nth-child(3) {
      font-size: 16px;
      width: 100%;
      display: inline-block;
      padding: 0 15px; }

#ammaContentContainer {
  padding-top: 40px; }

#safeRoadHeader {
  float: left;
  width: 100%;
  display: block;
  padding: 0 15px;
  margin-bottom: 15px;
  box-sizing: border-box; }
  #safeRoadHeader #safeRoadLogo {
    float: left;
    width: 20%; }
    #safeRoadHeader #safeRoadLogo img {
      width: auto;
      max-width: 100%; }
  #safeRoadHeader #safeRoadTitle {
    float: left;
    width: 60%; }
    #safeRoadHeader #safeRoadTitle h1 {
      font-weight: normal;
      font-size: 17px;
      font-family: 'Roboto';
      margin: 30px 0;
      padding: 0 20px;
      line-height: 1.2; }
  #safeRoadHeader #safeRoadAction {
    float: left;
    width: 20%; }
    #safeRoadHeader #safeRoadAction a {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 10px 30px 10px 0;
      margin: 30px 0;
      font-size: 20px;
      font-family: 'Roboto';
      background: #e8201c;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      box-sizing: border-box; }
      #safeRoadHeader #safeRoadAction a:before {
        content: ' ';
        position: absolute;
        left: -36px;
        bottom: -36px;
        width: 280px;
        height: 110px;
        background: url(https://maps.ramir.space/assets/templates/allatra-da/css/images/allatra-marker-aim.svg) no-repeat;
        transform: rotateY(-180deg); }
      #safeRoadHeader #safeRoadAction a span {
        color: #fff; }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .ammaContainer {
    max-width: 960px; }

  #safeRoadHeader #safeRoadTitle h1 {
    font-size: 15px;
    margin: 20px 0; }
  #safeRoadHeader #safeRoadAction a {
    padding: 10px 25px 10px 0;
    margin: 25px 0;
    font-size: 17px; }
    #safeRoadHeader #safeRoadAction a::before {
      left: -65px; } }
@media screen and (min-width: 768px) and (max-width: 990px) {
  .ammaContainer {
    max-width: 720px; }

  #safeRoadHeader #safeRoadLogo {
    width: 100%;
    text-align: center; }
    #safeRoadHeader #safeRoadLogo img {
      max-width: 320px; }
  #safeRoadHeader #safeRoadTitle {
    width: 60%; }
    #safeRoadHeader #safeRoadTitle h1 {
      font-size: 15px;
      margin: 20px 0; }
  #safeRoadHeader #safeRoadAction {
    width: 40%; }
    #safeRoadHeader #safeRoadAction a {
      padding: 10px 25px 10px 0;
      margin: 25px 0;
      font-size: 17px; }
      #safeRoadHeader #safeRoadAction a::before {
        width: 100%;
        left: 0; } }
@media screen and (max-width: 767px) {
  .ammaContainer {
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box; }
    .ammaContainer .ammaCol-1, .ammaContainer .ammaCol-1-3, .ammaContainer .ammaCol-2-3, .ammaContainer .ammaCol-1-2, .ammaContainer .ammaCol-1-4, .ammaContainer .ammaCol-3-4 {
      width: 100%; }

  #safeRoadHeader #safeRoadLogo {
    width: 100%;
    text-align: center; }
    #safeRoadHeader #safeRoadLogo img {
      max-width: 320px; }
  #safeRoadHeader #safeRoadTitle {
    width: 100%; }
    #safeRoadHeader #safeRoadTitle h1 {
      font-size: 15px;
      margin: 20px 0; }
  #safeRoadHeader #safeRoadAction {
    width: 100%; }
    #safeRoadHeader #safeRoadAction a {
      padding: 10px 25px 10px 0;
      margin: 25px 0;
      font-size: 17px; }
      #safeRoadHeader #safeRoadAction a::before {
        width: 100%;
        left: 0; }

  #rssBlock1 #rssBlock1Prev,
  #rssBlock1 #rssBlock2Prev,
  #rssBlock2 #rssBlock1Prev,
  #rssBlock2 #rssBlock2Prev {
    left: -24px; }

  #rssBlock1 #rssBlock1Next,
  #rssBlock1 #rssBlock2Next,
  #rssBlock2 #rssBlock1Next,
  #rssBlock2 #rssBlock2Next {
    right: -24px; }

  .dataTable-wrapper {
    max-width: 100%;
    max-width: calc(100vw - 30px); }
    .dataTable-wrapper .dataTable-container {
      overflow: scroll; } }
#ammaModalWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow-y: auto; }
  #ammaModalWrapper #ammaModalContainer {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    -webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
    #ammaModalWrapper #ammaModalContainer #ammaModal {
      position: relative;
      background: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
      #ammaModalWrapper #ammaModalContainer #ammaModal #ammaModalClose {
        display: inline-block;
        position: absolute;
        width: 21px;
        height: 21px;
        top: 13px;
        right: 15px;
        border: 1px solid #a7a7a7;
        text-decoration: none;
        text-align: center;
        border-radius: 50%;
        line-height: 19px;
        color: #a7a7a7;
        text-transform: lowercase; }
      #ammaModalWrapper #ammaModalContainer #ammaModal #ammaModalChoose {
        padding: 15px; }
        #ammaModalWrapper #ammaModalContainer #ammaModal #ammaModalChoose a {
          font-size: 14px;
          color: #000;
          border-bottom: 1px dashed #000;
          text-decoration: none;
          margin-right: 15px; }
          #ammaModalWrapper #ammaModalContainer #ammaModal #ammaModalChoose a.selected {
            border-bottom: none; }
      #ammaModalWrapper #ammaModalContainer #ammaModal form {
        width: 100%;
        padding: 15px;
        display: block;
        box-sizing: border-box;
        clear: both; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form .ammaModalTitle {
          font-size: 15px;
          font-weight: 500;
          text-transform: uppercase;
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 10px;
          margin-bottom: 20px;
          letter-spacing: 2px; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form .ammaFormGroup {
          float: left;
          width: 100%;
          display: block;
          margin-bottom: 15px; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form label {
          float: left;
          width: 100%;
          font-size: 13px;
          margin-bottom: 5px; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form input[type=text], #ammaModalWrapper #ammaModalContainer #ammaModal form input[type=email], #ammaModalWrapper #ammaModalContainer #ammaModal form input[type=password], #ammaModalWrapper #ammaModalContainer #ammaModal form input[type=number], #ammaModalWrapper #ammaModalContainer #ammaModal form input[type=file] {
          width: 100%;
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          padding: 0 5px;
          border: 1px solid #e0e0e0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form textarea {
          width: 100%;
          font-size: 14px;
          padding: 5px;
          border: 1px solid #e0e0e0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form input[type=checkbox] {
          width: auto;
          display: inline-block; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form textarea:focus, #ammaModalWrapper #ammaModalContainer #ammaModal form input:focus {
          outline: none;
          border-color: #999; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form button {
          font-size: 13px;
          border: 1px solid #e3e3e3;
          border-top-color: #e3e3e3;
          border-right-color: #e3e3e3;
          border-bottom-color: #e3e3e3;
          border-left-color: #e3e3e3;
          background: linear-gradient(to bottom, #f7f7f7, #edebeb);
          margin-top: 5px;
          padding: 0 11px;
          height: 31px;
          line-height: 1;
          border-radius: 3px;
          box-shadow: 0 1px 0 0 #fcfcfc inset,0 -1px 0 0 #f0eeee inset;
          cursor: pointer;
          position: relative;
          transition: all 0.5s ease; }
          #ammaModalWrapper #ammaModalContainer #ammaModal form button:hover {
            border-color: #999; }
        #ammaModalWrapper #ammaModalContainer #ammaModal form .ammaAsterisk {
          color: #ff0000; }
      #ammaModalWrapper #ammaModalContainer #ammaModal #ammaModalRequired {
        padding: 0 15px 15px 15px;
        font-size: 12px; }
        #ammaModalWrapper #ammaModalContainer #ammaModal #ammaModalRequired span {
          color: #ff0000; }

/*# sourceMappingURL=george_the_victorious.css.map */
